<!-- CARD -->
<div class="col S3 m6">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">{{ name }}</span>
            <h6>{{ role }}</h6>
            <p>Employee ID: {{ id }}</p>
            <p>Office Number: {{ officeNumber }}</p>
        </div>
        <div class="card-action">
            <a href="#">{{ email }}</a>
            <span><img src="img/icons8-manager-50-2.png" class="right"></span>
        </div>
    </div>
</div>